body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: sans-serif;
  background-image: url(img/noita-digital-zcx5ztIjQAM-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: black;
  border-radius: 10px;
  opacity: 0.8;
}
.logo-span {
  color: red;
}

.nav-ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
  font-size: 22px;
}

.search-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  margin-top: 180px;
  color: white;
  font-size: 22px;
  background-color: black;
  padding: 16px;
}

.search-input {
  width: 60%;
  height: 40px;
  border-radius: 10px;
  font-size: 22px;
  background-color: white;
  color: black;
}

.search-button {
  height: 40px;
  width: 200px;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 18px;
  background-color: red;
  color: white;
}

.aside-ul {
  list-style: none;
  padding: 0;
}

.aside-li {
  padding: 10px 0;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
}

.signup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  margin-top: 180px;
}

.movie-box {
  position: relative;
  border-radius: 20px 20px 0 0;
  width: 300px;
  height: 500px;
  background-color: wheat;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  box-shadow: 0 0 10px red;
  cursor: pointer;
}

.movie-img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}

.hover-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  opacity: 0;
  font-size: 16px;
  line-height: 25px;
}

.movie-box:hover .hover-info {
  opacity: 1;
  transition: 0.2s ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active,
a:hover {
  color: rgb(203, 199, 199);
}

.signup-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-label {
  display: block;
  margin-bottom: 8px;
}

.signup-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.signup-submit-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.main-footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  color: white;
}

@media screen and (min-width: 1200px) {
  .main-header {
    flex-direction: row;
  }

  .logo-h1 {
    margin-left: 35px;
  }

  .search-aside {
    width: 100%;
    max-width: 200px;
    border-radius: 0 10px 40px 0;
  }

  .search-input {
    width: 100%;
    font-size: 20px;
  }

  .search-button {
    width: 100px;
    margin-top: 15px;
  }

  .main-container {
    flex-direction: row;
  }

  .main-content {
    flex-direction: row;
    margin: 180px 0px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
  }

  .movie-box {
    height: 400px;
    width: 20%;
    margin-bottom: 40px;
  }

  .movie-box:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
  }

  .signup-form {
    width: 350px;
  }
}
@media screen and (min-width: 1400px) {
  .movie-box {
    height: 550px;
  }
  .search-aside {
    max-width: 250px;
  }
}
